body, html {
    margin: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #E7E8D1;
    margin: 0;
    padding:10px;
    box-shadow: 0 5px 5px grey;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    margin: 2px;
} 

#taskContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

#inputContainer {
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 10px;
    padding: 5px;
}

header {
    text-align: center;
    background-color:#A7BEAE;
    padding: 10px 10px 2px 10px;
    margin-bottom: 0;
}

.priorityDiv {
    width: 300px;
    margin: 10px;
    padding: 10px;
    /* border-radius: 10px; */
    align-self: baseline;
    flex-grow: 0;
    /* box-shadow: 0 0 5px rgb(198, 198, 198); */
    /* background-color: rgb(237, 236, 220); */
}

.dontDelete {
    background-color: rgb(215, 214, 199);
    box-shadow: 0 2px 5px rgb(198, 198, 198);
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    font-style: italic;
}

.priorityDiv h2 {
    margin: 1px;
    text-align: center;
}

.taskBox {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.413);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(109, 109, 109);
}

.taskBox:hover {
    box-shadow: 0 5px 10px rgb(109, 109, 109);
}

.highTask {
    background-color: #f2c095;
}

.mediumTask {
    background-color: #f9e8a7;
}

.lowTask {
    background-color: #e4e4de;
}

#completedSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.completedTask {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.413);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(109, 109, 109);
    background-color: #A7BEAE;
}

.completedTask h3, h5, p {
   margin: 0;
}

#completedCont {
    text-align: center;
}

.taskBox h3, p {
    margin: 5px;
}

.markCompleted {
    background-color: rgb(128, 154, 133);
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    color: rgb(235, 235, 235);
}

.markCompleted:hover {
    cursor: pointer;
    box-shadow: 0 0 3px white;
}


#toggleContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.change-prio-cont-high {
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 5px;
    align-self: center;
    background-color: rgba(233, 151, 126, 0.434);
}

.change-prio-cont-med {
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 5px;
    align-self: center;
    background-color: rgba(235, 225, 168, 0.529);
}

.change-prio-cont-low {
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 5px;
    align-self: center;
    background-color: rgba(240, 209, 151, 0.482);
}

.fa-arrow-left:hover {
    cursor: pointer;
}

.fa-arrow-right:hover {
    cursor: pointer;
}

.change-prio:hover {
    box-shadow: 0 0 3px white;
}

.change-prio {
    width: 100px;
    margin: 2px auto;
}

#submitBtn {
    margin: 5px;
}

#progressBar {
    margin: 0 auto;
    margin-top:20px;
}




