body, html {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #E7E8D1;
    margin: 0;
    padding:10px;
    box-shadow: 0 5px 5px grey;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
}

#taskContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

#inputContainer {
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 10px;
    padding: 5px;
}

header {
    text-align: center;
    background-color:#A7BEAE;
    padding: 10px 10px 2px 10px;
    margin-bottom: 0;
}

.priorityDiv {
    width: 300px;
    margin: 10px;
    padding: 10px;
    /* border-radius: 10px; */
    align-self: baseline;
    flex-grow: 0;
    /* box-shadow: 0 0 5px rgb(198, 198, 198); */
    /* background-color: rgb(237, 236, 220); */
}

.dontDelete {
    background-color: rgb(215, 214, 199);
    box-shadow: 0 2px 5px rgb(198, 198, 198);
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    font-style: italic;
}

.priorityDiv h2 {
    margin: 1px;
    text-align: center;
}

.taskBox {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.413);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(109, 109, 109);
}

.taskBox:hover {
    box-shadow: 0 5px 10px rgb(109, 109, 109);
}

.highTask {
    background-color: #B85042;
}

.mediumTask {
    background-color: #A7BEAE;
}

.lowTask {
    background-color: #E7E8D1;
}

#completedSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.completedTask {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.413);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(109, 109, 109);
    background-color: #A7BEAE;
}

.completedTask h3, h5, p {
   margin: 0;
}

#completedCont {
    text-align: center;
}

.taskBox h3, p {
    margin: 5px;
}

/* .fa-xmark {
    float: right;
    display: inline-block;
    margin: 3px;
    color:rgba(68, 68, 68, 0.701);
} */

.fa-xmark:hover {
    cursor: pointer;
}

.markCompleted {
    background-color: rgb(204, 213, 201);
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}

.markCompleted:hover {
    cursor: pointer;
}

.togglers {
    background-color: #B85042;
    margin: 0;
    height: 100%;
    color: white;
}

#toggleTabs {
    display: flex;
    justify-content: flex-end;
}

#toggleContainer {
    display: flex;
    justify-content: center;;
}



